/* Чтение (reading mode) */
.markdown-preview-view pre {
  max-width: var(--max-width);
  width: fit-content;
  margin-inline: auto;
}

/* Live Preview / редактирование */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  max-width: var(--max-width);
  width: fit-content;
  margin-inline: auto;
}